.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  padding: 2rem 1rem;
  overflow: hidden;
  
  background: linear-gradient(to bottom, aqua 0%, aqua 70%, transparent 100%);

  /*OUTCOM: fade in when page is loaded*/

  /*transition: background-color 1s ease-in;*/
  /*animation: fadeBackground 1s ease-in forwards;*/
}

/*@keyframes fadeBackground {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: aqua;
  }
}*/


.header-nav a {
  font-family: 'Hanken Grotesk';
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 2em;
  color: black;
}

.header-nav img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  
}
