<section class="hero-image">
  <h1>ABOUT ME</h1>
  <p>bla bla bla bla bla lba bla bla bla bla bla bla bla bla vla</p>
<section class="about-section">
  <article class="work-history">
    <img src="../../assets/workIcon.png" alt="" />
    <div>
      <h3>Work History</h3>
      <p>You can find my full CV here:</p>
      <a href="../../assets/cv.pdf" target="_blank" rel="noopener noreferrer"
        >Open in new Window</a
      >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
        eros vel lectus gravida blandit. Morbi ut justo non ligula volutpat
        fringilla. Vivamus lacinia, nunc a feugiat pretium, metus est iaculis
        lorem, eget tristique purus nulla ac sapien. Curabitur suscipit felis id
        purus tempus, at hendrerit urna fermentum.
      </p>
    </div>
  </article>

  <article class="programming">
    <img src="../../assets/codeIconResized(1).png" alt="" />
    <div>
      <h3>Programming</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
        eros vel lectus gravida blandit. Morbi ut justo non ligula volutpat
        fringilla. Vivamus lacinia, nunc a feugiat pretium, metus est iaculis
        lorem, eget tristique purus nulla ac sapien. Curabitur suscipit felis id
        purus tempus, at hendrerit urna fermentum.
      </p>
    </div>
  </article>
  <article class="interests">
    <img src="../../assets/loveIcon.png" alt="" />
    <div>
      <h3>Interests</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec
        eros vel lectus gravida blandit. Morbi ut justo non ligula volutpat
        fringilla. Vivamus lacinia, nunc a feugiat pretium, metus est iaculis
        lorem, eget tristique purus nulla ac sapien. Curabitur suscipit felis id
        purus tempus, at hendrerit urna fermentum.
      </p>
    </div>
  </article>
</section>

</section>
