<section class="hero-image">
  <h1>ABOUT ME</h1>
  <p>
    Here is a quick summary of me! A few words about my work history, when I
    discovered programming and an insight in my interests.
  </p>
  <section class="about-section">
    <article class="work-history">
      <img src="../../assets/workIcon.png" alt="" />
      <div class="allTextDiv">
        <h3>Work History</h3>
        <div class="cv">
          <p>You can find my full CV here:</p>
          <a
            href="../../assets/cv.pdf"
            target="_blank"
            rel="noopener noreferrer"
            >Open in new Window</a
          >
        </div>
        <p>
          I got my first job at 15 as a newspaper carrier. At 16, I moved onto
          baby-sitting for a couple of years before I got my first job at a café
          at 18, and within a few months I got another job at a restaurant as a
          waitress. - From there on I worked as both a waitress and later on,
          bartender, for different restaurants and nightclubs around Stockholm.
        </p>
        <p>
          I found the restaurant business intriguing, there was a lot of room
          for personal development and growth within my job roles. Dealing with
          all the different guests and their personalities, learning to work
          with people who's style differs from your own, working under pressure
          from different directions - the kitchen, the guests, the boss etc.
        </p>
        <p>
          Working in the restaurant industry has helped me develope strong
          communication skills, because you often work with or for people who
          differ from yourself meaning you have to be clear in your
          communication and make sure you understand eachother correctly. My
          biggest take-away? Ask <i>every</i> question you have to make sure
          both parts understand eachother.
        </p>
        <p>
          The job requires a high level of resilience under pressure and the
          ability to stay focused under pressure, meaning you have to be able to
          stay calm and strategic even when a lot is asked from you. To deal
          with this, I make sure to be prepared for everything that might be
          asked of me - even if I know it's going to be a calm evening, I prep
          for an evening of chaos. If my predictions end up true, I just did
          some extra work - but when that group of 20 people drop in, I'm
          prepared. This has also made me realize that sometimes you can't live
          up to every expectation of you, but as long as you do your absolute
          best, you can be proud of yourself.
        </p>
        <p>
          My biggest lesson from my years in the service industry? Practice
          makes perfect. Looking back on my first years as a waitress and
          bartender, I can't help but smile at how little I knew—and how much
          I've learned just by showing up every day and doing the work, even on
          the nights that felt like torture. That's how I built the confidence
          to feel secure and capable in my role. I'm now looking forward to the
          day when I can reflect on my journey as a developer in the same
          way—smiling at how far I've come through years of hands-on experience,
          problem-solving, and quick thinking under pressure.
        </p>
      </div>
    </article>

    <article class="programming">
      <img src="../../assets/codeIconResized(1).png" alt="" />
      <div class="allTextDiv">
        <h3>Programming</h3>
        <div class="cv">
          <p>You can find all my projects here:</p>
          <a routerLink="/projects">Go to Projects</a>
        </div>
        <p>
          I had my first encounter with code in 2022, when my brother showed me
          a frontend project he was working on in school: a virtual library. It
          looked really cool, and I was very impressed that he had managed to
          build such a thing. He was studying to become a Fullstack Java
          Developer, just as I am now. He showed me some of the code behind the
          application, and tried to explain to me what it did, but to me it just
          looked like random English words in different colors.
        </p>
        <p>
          At the time, I was taking a few courses through Adult Education to
          gain my Upper Secondary Education diploma. I had a few more courses to
          complete, and in 2024 I decided to try a 5-week course in C# and .NET.
          I found the course to be quite tough the first couple of weeks — it
          felt like I was trying to learn a new language AND the whole science
          behind computers. But I found it <i>really</i> fun. I love the feeling
          when something finally 'clicks'. I remember when I was going to try to
          run some code for the first time ("Hello World!") and I couldn’t get
          it to work for 20 minutes. Why? I forgot the semicolon at the end of
          the WriteLine!
        </p>
        <p>
          I started seeing everyday life with new eyes, suddenly having an
          understanding of how the technology around us works. Seeing how much
          we rely on working code to make our everyday lives run smoothly — from
          the alarm on our phones that wakes us up every morning, to the app
          where we can check if our train to work is on time, to the registers
          in the grocery store where we buy our lunch. It was something I had
          never reflected on before, and with that realization, I became in awe
          of the world of code — and I wanted to be a part of that, and a part
          of developing code for the future.
        </p>
        <p>
          So I applied to a Fullstack Java Developer at Stockholms Tekniska
          Institut (STI). I was really excited when I got my admission letter,
          as I was looking forward to learning about this new world that I had
          just dipped my toe into. I also love learning, about anything really.
          Anything that challenges me intellectually is intriguing to me, as I
          feel like challenges are the biggest thing for personal development
          and growth. I've learned so much this past year in school, and I love
          that things that didn't make sense a few months ago are now clear as
          day to me.
        </p>
      </div>
    </article>
    <article class="interests">
      <img src="../../assets/loveIcon.png" alt="" />
      <div class="allTextDiv">
        <h3>Interests</h3>
        <p>
          I had my first encounter with code in 2022, when my brother showed me
          a frontend project he was working on in school: a virtual library. It
          looked really cool, and I was very impressed that he had managed to
          build such a thing. He was studying to become a Fullstack Java
          Developer, just as I am now. He showed me some of the code behind the
          application, and tried to explain to me what it did, but to me it just
          looked like random English words in different colors.
        </p>
        <p>
          At the time, I was taking a few courses through Adult Education to
          gain my Upper Secondary Education diploma. I had a few more courses to
          complete, and in 2024 I decided to try a 5-week course in C# and .NET.
          I found the course to be quite tough the first couple of weeks — it
          felt like I was trying to learn a new language AND the whole science
          behind computers. But I found it <i>really</i> fun. I love the feeling
          when something finally 'clicks'. I remember when I was going to try to
          run some code for the first time ("Hello World!") and I couldn’t get
          it to work for 20 minutes. Why? I forgot the semicolon at the end of
          the WriteLine!
        </p>
        <p>
          I started seeing everyday life with new eyes, suddenly having an
          understanding of how the technology around us works. Seeing how much
          we rely on working code to make our everyday lives run smoothly — from
          the alarm on our phones that wakes us up every morning, to the app
          where we can check if our train to work is on time, to the registers
          in the grocery store where we buy our lunch. It was something I had
          never reflected on before, and with that realization, I became in awe
          of the world of code — and I wanted to be a part of that, and a part
          of developing code for the future.
        </p>
        <p>
          So I applied to a Fullstack Java Developer at Stockholms Tekniska
          Institut (STI). I was really excited when I got my admission letter,
          as I was looking forward to learning about this new world that I had
          just dipped my toe into. I also love learning, about anything really.
          Anything that challenges me intellectually is intriguing to me, as I
          feel like challenges are the biggest thing for personal development
          and growth.
        </p>
      </div>
    </article>
  </section>
</section>
