<section class="hero-image">
  <section>
    <h1>PORTFOLIO</h1>
    <p>
      An overview of the projects I developed while studying software
      development.
    </p>
  </section>

  <section class="filter-buttons">
    <button (click)="filterProjects('all')">All</button>
    <button (click)="filterProjects('Fullstack')">Full-stack</button>
    <button (click)="filterProjects('Frontend')">Front-end</button>
    <button (click)="filterProjects('Backend')">Back-end</button>
    <button (click)="filterProjects('Unit Test')">Unit Test</button>
    <button (click)="filterProjects('Database')">Database</button>
    <button (click)="filterProjects('API')">API's</button>
    <button (click)="filterProjects('Spring')">Spring Boot</button>
  </section>

  <section class="projectContainer">
    <a
      *ngFor="let project of filteredProjects"
      [href]="project.url"
      target="_blank"
      class="project"
    >
      <img [src]="project.img" [alt]="project.title" />
      <div>
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
      </div>
    </a>
  </section>
</section>
