<section class="hero-image">
  <section>
    <h1>PORTFOLIO</h1>
    <p>A collections of all of the projects</p>
  </section>

  <section class="section">
    <article class="article-box">
      <h3>Dice Game</h3>
      <div class="links">
        <a
          href="https://github.com/lisaupperud/java-a-projektarbete.git"
          target="_blank"
          >Git Repository</a
        >
      </div>
      <h4>Course: Java A</h4>
      <p>
        This assignment involves creating a simple dice game in Java where two
        players compete by rolling a dice twice each. The game calculates each
        player's total score, and the player with the highest score wins.
        <br />
        This was my first introduction to buildning a program in Java. I have
        since gone back to the code to refactor and use the things I've learned
        throughout the year.
      </p>
    </article>
    <article class="article-box">
      <h3>Adventure Game</h3>
      <div class="links">
        <a
          href="https://github.com/lisaupperud/java-b-projektarbete.git"
          target="_blank"
          >Git Repository</a
        >
      </div>
      <h4>Course: Java B</h4>
      <p>
        This project involves creating a text-based adventure game set in a
        house at night, where the player has to fight off an intruder and call
        the police to win the game. The project builds on concepts learned in
        the course, including object-oriented programming, where various
        locations and interactions are modeled using Java classes. Players will
        navigate between rooms and interact with objects that affect the game’s
        outcome. The game world consists of a central location and four rooms.
        This project emphasizes developing interactive, event-driven logic and
        understanding how to structure and manage a small-scale game.
      </p>
    </article>
    <article class="article-box">
      <h3>Database</h3>
      <div class="links">
        <a
          href="https://github.com/lisaupperud/databas-projektarbete.git"
          target="_blank"
          >Git Repository</a
        >
      </div>
      <h4>Course: Database Managment</h4>
      <p>
        This project is about building a Java application that manages job roles
        using a relational database. It includes full CRUD operations for job
        roles with fields like role ID, title, description, salary, and creation
        date. The application also connects employees to job roles and supports
        user login to view role information, using SQL JOINs. Emphasis is placed
        on clean resource handling, exception management, and testing, offering
        hands-on experience with Java and database integration.
      </p>
    </article>
    <article class="article-box">
      <h3>My First Website</h3>
      <div class="links">
        <a href="https://lisaupperud.github.io/myWebsite/" target="_blank"
          >Website</a
        >
        <br />
        <a href="https://github.com/lisaupperud/myWebsite.git" target="_blank"
          >Git Repository</a
        >
      </div>
      <h4>Course: Web Development</h4>
      <p>
        This responsive website is built using HTML, CSS, and JavaScript without
        frameworks. It features semantic structure, accessible design, and
        consistent styling. Key components include a shared header/footer, a
        hamburger menu for mobile, responsive images, a CV page styled with
        Flexbox, and a filterable "Technology" page using JavaScript. The code
        is validated to ensure quality and accessibility.
      </p>
    </article>
    <article class="article-box">
      <h3>Fitness App: "Starka År"</h3>
      <div class="links">
        <a href="https://fitness-app-teal-sigma.vercel.app/" target="_blank"
          >Website</a
        >
        <br />
        <a href="https://github.com/StevenJTK/Fitness-App.git" target="_blank"
          >Git Repository</a
        >
      </div>

      <h4>Course: Frontend and Frameworks</h4>
      <h4>Course: Agile Project Methodology</h4>
      <p>
        This project is a Single Page Application built with the Angular
        framework, developed in collaboration between 5 Java developers and 4 UX
        designers. The app is designed to support elderly users in staying
        active. Users begin by selecting one of four difficulty levels, then
        choose from four training categories. Based on these choices, they are
        directed to a session library containing curated workout routines
        tailored to their preferences.
      </p>
    </article>
    <article class="article-box">
      <h3>Go Fish</h3>
      <div class="links">
        <a href="https://github.com/lisaupperud/CardGame.git" target="_blank"
          >Git Repository</a
        >
      </div>
      <h4>Course: Testdriven Development</h4>
      <p>
        This is a Java-based 'Go Fish' card game. The development follows TDD
        principles, with a strong emphasis on writing unit tests using JUnit 5.
        The work is conducted in a pair programming setup together with another
        student. The application features core components such as Card, Deck,
        Player, and Hand, and includes game logic for dealing cards, finding
        specific cards, and interacting between players. The project avoids
        unnecessary static dependencies and aims to follow clean, modular
        design. The gameplay logic is thoroughly tested with unit tests to
        ensure robustness and maintainability.
      </p>
    </article>
  </section>
</section>
