<section>
  <h1>PORTFOLIO</h1>
  <article>
    <h3>Dice Game</h3>
    <h5>Course: Java A</h5>
  </article>
  <article>
    <h3>Adventure Game</h3>
    <h5>Course: Java B</h5>
  </article>
  <article>
    <h3>Database</h3>
    <h5>Course: Database Managment</h5>
  </article>
  <article>
    <h3>My First Website</h3>
    <h5>Course: Web Development</h5>
  </article>
  <article>
    <h3>Fitness App: "Starka År"</h3>
    <h5>Course: Frontend and Frameworks</h5>
    <h5>Course: Agile Project Methodology</h5>
  </article>
</section>
