.button {
  border-radius: 0.5rem;
  background: linear-gradient(
    to right,
    #00b4d8,
    #0077b6
  ); /* Gradient from aqua to dark blue */
  color: white;
  box-sizing: border-box;
  padding: 1rem 2rem; /* Vertical and horizontal padding */
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #0077b6, #00b4d8);
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
