<section class="home">
  <article class="welcome">
    <img src="../../assets/lisaupperud-small.jpg" alt="" />
    <div>
      <h3>Hi and Welcome!</h3>
      <p>
        I'm Lisa! I've created this website as a summary of me as a programmer.
      </p>
    </div>
  </article>

  <a routerLink="/projects">
    <article class="portfolio">
      <img src="../../assets/java-small.jpg" alt="" />
      <div>
        <h3>Portfolio</h3>
        <p>
          My portfolio, containing all my previous projects from my time in
          school.
        </p>
      </div>
    </article>
  </a>

  <a routerLink="/about">
    <article class="about">
      <img src="../../assets/lisaupperud2-small.jpg" alt="" />
      <div>
        <h3>Who am I?</h3>
        <p>Check out my CV and let's get in contact!</p>
      </div>
    </article>
  </a>
</section>
